 .top-header {
   height: 120px;
   background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/a2a9e6db5e3c5374301827435d8595c6.jpg?w=5120&h=240);
   background-size: auto 120px;
   background-repeat: no-repeat;
 }